/* 
    [ 메인 홈페이지 ]

    작성자 : 김정민
*/

@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'NanumSquare', sans-serif;
}

a {
    text-decoration: none;
    color: #f6e8db;
}

.header {
    margin-top: 7px;
    margin-bottom: 7px;
}

/*확대*/
.logInTxt {
    font-size: 50px;
    float: right;
    margin-right: 30px;
    color: #404040;
}

/*darkmodeBtn font-size 확대*/
.darkmodeBtn {
    float: left;
    color: #9b4747;
    font-size: 60px;
    margin-left: 30px;
}

.logo {
    width: 100%;
    height: 20%;  
    text-align: center;
}

.logo_btn {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
    box-sizing: border-box;
    font-size: 50px;
    font-weight: bold;
    color: #9b4747;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #9b4747;
    padding: 8px 12px;
    height: 60px;
}

.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

/*메뉴 바 글씨크기 확대*/
.navbar_menu li {
    padding:  8px 50px;
    position: relative;
    font-size: 30px;
}

.navbar_menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 0;
    height: 4px;
    background: #f6e8db;
    transition: all .3s ease-out;
}

.navbar_menu li a:hover::after {
    width: 100%;
}

.navbar_icons {
    list-style: none;
    color: #f6e8db;
    display: flex;
    padding-left: 0;
    margin-top: 18px;
}

.navbar_icons li {
    padding: 8px 12px;
    margin-right: 50px;
}

.navbar_toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: #f6e8db;
    padding-top: 5px;
}

.search_box {
    position: absolute;
    margin-top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f6e8db;
    height: 60px;
    border-radius: 40px;
    padding: 10px;
}

.search_box:hover > .search_txt {
    width: 700px;
    padding: 0 6px;
}
/*search_txt font-size 확대*/
.search_txt {
    text-align: center;
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #404040;
    font-size: 30px;
    transition: 0.4s;
    line-height: 40px;
    width: 400px;
}

.search_btn {
    position: inherit;
    right: 10px;
    bottom: 8px;
    color: #9b4747;
    float: right;
    width: 43px;
    height: 43px;
    border: #9b4747 2px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[id="menuicon"] {
    display: none;
}

/*sideBtn 확대*/
input[id="menuicon"] + label {
    display: block;
    width: 80px;
    height: 60px;
    position: fixed;
    left: 0;
    top: calc(50% - 25px);
    transition: all .35s;
    cursor: pointer;
}

input[id="menuicon"] + label span {
    display: block;
    position: absolute;
    width: 80%;
    height: 5px;
    border-radius: 30px;
    background: #9b4747;
    transition: all .35s;
}

input[id="menuicon"] + label span:nth-child(1) {
    top: 0%;
}

input[id="menuicon"] + label span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

input[id="menuicon"] + label span:nth-child(3) {
    bottom: 0;
}

input[id="menuicon"]:checked + label span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

input[id="menuicon"]:checked + label span:nth-child(2) {
    opacity: 0;
}

input[id="menuicon"]:checked + label span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}

input[id="menuicon"]:checked + label + div {
    left: 0;
}

input[id="menuicon"]:checked + label {
    z-index: 2;
    left: 300px;
}

.todolist{
    width: 300px;
    height: 50%;
    background: #9b4747;
    position: fixed;
    top: 40%;
    left: -300px;
    z-index: 1;
    transition: all .35s;
}

.todotemplate {
    z-index: 1;
    width: 95%;
    height: 95%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.todoHead {
    border-bottom: 1px solid #f6e8db;
    margin: 10px;
    text-align: center;
    color: #f6e8db;
}

/*fontsize 확대*/
.todoDay {
    font-size: 15px;
    text-align: left;
}

/*fontsize 확대*/
.todoTitle {
    font-size: 25px;
    font-weight: bold;
    color: #f6e8db;
}

form {
    display: flex;
}

/*크기 확대*/
.inputTodoItem {
    caret-color: #9b4747;
    border-radius: 24px;
    border: none;
    margin-left: 20px;
    width: 70%;
    height: 25px;
}

.todoContents {
    flex: 1;
    overflow: auto;
}

.todoContents::-webkit-scrollbar {
    width: 5px;
}

.todoContents::-webkit-scrollbar-thumb {
    background: #f6e8db;
}

.todoItemList ul {
    margin: 0;
    padding: 0;
}

/*font-size 확대*/
.todoItemList ul li {
    cursor: pointer;
    position: relative;
    list-style: none;
    color: #f6e8db;
    transition: 0.3s;
    margin-left: 20px;
    font-size: 25px;
    margin-top: 10px;
}

.todoItemList ul li:hover {
    background: #f6e8db;
    color: #9b4747;
}

.todoItemList ul li.checked {
    text-decoration: line-through;
}

/*확대*/
.todoInputBtn {
    background: #f6e8db;
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-left: 15px;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #9b4747;
    border-radius: 40px;
    border: none;
    outline: none;
}

/*확대 */
.close {
    position: absolute;
    right: 20px;
    top: 3px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

section {
    padding-bottom: 100px;
    height: 500px;
}

.newsContents,
.weatherContents,
.shoppingContents,
.YouTubeContents {
    display: none;
}

.weatherContents {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 150px;
    width: 50%;
    height: 100%;
}

.contents_box {
    margin: 0 auto;
    margin-top: 150px;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.tempdiv {
    position: relative;
}

.swiper-container {
    width: 50%;
    margin: 0 auto;
    position: static;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    box-shadow: 0px 2px 10px 0px #848484;
    opacity: 0;
}

.swiper-slide-prev,
.swiper-slide-active,
.swiper-slide-next {
    opacity: 1;
}

[class^=slide] {
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border: none;
}

#wrap {
    min-height: 100vh;
    position: relative;
    width: 100%;
}

/* 카드뉴스 부분 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*css 초기화*/
.card {
    height: 300px;
    width: 100%;
    border-radius: 15px;
    display: inline-block;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}

.card-header1,
.card-header2,
.card-header3,
.card-header4,
.shopping-card-header1,
.shopping-card-header2,
.shopping-card-header3,
.shopping-card-header4
 {
    -webkit-transition: 0.5s; /*사파리 & 크롬*/
    -moz-transition: 0.5s; /*파이어폭스*/
    -ms-transition: 0.5s; /*인터넷 익스플로러*/
    -o-transition: 0.5s; /*오페라*/
    transition: 0.5s;
    width: 100%;
    height: 100px;
    border-radius: 15px 15px 0 0;
    background-size: 100% 100px;
    background-repeat: no-repeat;
}

.card-header1 {
    background-image: url("https://img.seoul.co.kr/img/upload/2021/11/22/SSI_20211122164136_O2.jpg");
}

.card-header2 {
    background-image: url("https://img.seoul.co.kr/img/upload/2021/11/23/SSI_20211123121833_O2.jpg");
}

.card-header3 {
    background-image: url("https://newsimg-hams.hankookilbo.com/2021/11/24/0bb98cc7-e330-4f8e-971d-bc1556a6744e.jpg");
}

.card-header4 {
    background-image: url("https://img.seoul.co.kr/img/upload/2021/11/25/SSI_20211125102741_O2.jpg");
}

.shopping-card-header1{
    background-image: url("https://thumbnail7.coupangcdn.com/thumbnails/remote/230x230ex/image/retail/images/184289866617096-a9b07746-3aa2-4ad3-b70e-c8fef3e7d679.jpg")
}

.shopping-card-header2{
    background-image: url("https://www.nintendo.co.kr/switch/modal/img/lineup/img-package--blueRed-new.png")
}

.shopping-card-header3{
    background-image: url("https://thumbnail8.coupangcdn.com/thumbnails/remote/230x230ex/image/retail/images/5625483147937349-72dab621-d11d-40e6-b347-b40dc9a67230.jpg")
}

.shopping-card-header4{
    background-image: url("https://thumbnail6.coupangcdn.com/thumbnails/remote/230x230ex/image/retail/images/121943323333314-62b434a2-8043-45c0-9cf6-01a0a84a6b40.jpg")
}

.card:hover .card-header1,
.card:hover .card-header2,
.card:hover .card-header3,
.card:hover .card-header4,
.card.card:hover .shopping-card-header1,
.card.card:hover .shopping-card-header2,
.card.card:hover .shopping-card-header3,
.card.card:hover .shopping-card-header4
 {
    opacity: 0.8;
    height: 0px;
}

h1 {
    font-size: 22px;
    font-weight: bold;
    color: black;
}


.card-body-header {
    line-height: 25px;
    margin: 10px 20px 0px 20px;
}

.card-body-hashtag {
    color: #9b4747;
    font-size: 15px;
}

.card-body-description {
    opacity: 0;
    color: #757B82;
    line-height: 25px;
    -webkit-transition: .2s ease-in-out; /*사파리&크롬*/
    -moz-transition: .2s ease-in-out; /*파이어폭스*/
    -ms-transition: .2s ease-in-out; /*익스플로러*/
    -o-transition: .2s ease-in-out; /*오페라*/
    transition: .2s ease-in-out;
    overflow: hidden;
    height: 180px;
    margin: 5px 20px;
}

.card:hover .card-body-description {
    opacity: 1;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    overflow: scroll;
}

.card-body-footer {
    display: flex;
    position: absolute;
    margin-top: 15px;
    margin-bottom: 6px;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    color: #9FA5A8;
    padding: 0 15px;
}

.comments_count {
    margin-left: 1px;
    width: 5px;
    height: 10px;
}

.reg_date {
    float: right;
    position: absolute;
    right: 15px;
}

/* footer 부분 */
footer {
    width: 100%;
    height: 100px;
    bottom: 0px;
    position: absolute;
    /* margin-top: 300px; */
    text-align: center;
    font-size: 5px;
    color: #848484;
}

@media screen and (max-width: 768px) {
    /* 반응형 웹 navbar 부분 */
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar_menu li {
        width: 80%;
        text-align: center;
    }

    .navbar_icons {
        display: none;
        justify-content: center;
        width: 100%;
    }

    .navbar_icons li {
        margin-right: 0;
    }

    .navbar_toggleBtn {
        display: block;
    }

    .navbar.active {
        height: auto;
        justify-content: space-between;
    }

    .search_txt {
        width: 300px;
    }

    .search_box:hover > .search_txt {
        width: 300px;
    }

    .navbar_menu.active,
    .navbar_icons.active {
        display: flex;
    }

     /* 반응형 웹 검색창 부분 */
     .search_box.active {
         display: none;
     }

     /* 투두리스트 */

     /* 카드뉴스 */
     .contents_box {
         width: 80%;
     }

     .cardnews_title,
     .card-body-description {
         font-size: 15px;
     }

     .card-body-hashtag {
         display: none;
     }
}



