/* 
    [ 메인 홈페이지 ] - 색상 변형 버전

    작성자 : 김정민

    카드뉴스 콘텐츠(뉴스, 쇼핑, 유투브) 추가 : 김현재, 양현식

    카드뉴스 콘텐츠(날씨) 추가 : 김정민
*/

@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

html {
    --bg-color-change: white;
    --yellow-black-change: #f0e442;
    --black-yellow-change: black;
}

html[data-theme="dark"] {
    --bg-color-change: #262626;
    --yellow-black-change: black;
    --black-yellow-change: #f0e442;
}
  
html[data-theme="light"] {
    --bg-color-change: white;
    --yellow-black-change: #f0e442;
    --black-yellow-change: black;
}

html {
    background-color: var(--bg-color-change);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'NanumSquare', sans-serif;
}

a {
    text-decoration: none;
    color: var(--yellow-black-change);
}

.header {
    margin-top: 7px;
    margin-bottom: 7px;
}

.logInTxt {
    float: right;
    margin-right: 30px;
    color: var(--black-yellow-change);
}

.darkmodeBtn {
    float: left;
    color: var(--black-yellow-change);
    font-size: 25px;
    margin-left: 30px;
}

#darkmode_toggle {
    display: none;
}

.logo {
    width: 100%;
    height: 20%;  
    text-align: center;
    margin-top: 5%;
}

.logo_btn {
    text-align: center;
    box-sizing: border-box;
    font-size: 50px;
    font-weight: bold;
    color: var(--black-yellow-change);
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--black-yellow-change);
    padding: 8px 12px;
    height: 50px;
    border-top: 1px solid var(--none-y-change);
}

.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar_menu li {
    padding:  8px 40px;
    position: relative;
    font-size: 18px;
}

.navbar_menu button {
    font-size: 18px;
    color: var(--yellow-black-change);
    background: none;
    border: none;
    cursor: pointer;
}

.navbar_menu li a::after,
.navbar_menu li button::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 0;
    height: 4px;
    background: var(--yellow-black-change);
    transition: all .3s ease-out;
}

.navbar_menu li a:hover::after,
.navbar_menu li button:hover::after {
    width: 100%;
}

.navbar_icons {
    list-style: none;
    color: var(--yellow-black-change);
    display: flex;
    padding-left: 0;
    margin-top: 18px;
}

.navbar_icons li {
    padding: 8px 12px;
    margin-right: 50px;
}

.navbar_toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: var(--yellow-black-change);
    padding-top: 5px;
}

#popup1,
#popup2,
#popup3 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    z-index: 1;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }

  #popup1.hide,
  #popup2.hide,
  #popup3.hide {
    display: none;
  }
  
  #popup1 .content,
  #popup2 .content,
  #popup3 .content {
    padding: 20px;
    background: var(--bg-color-change);
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
  }

  .popupCloseBtn {
      margin-left: 95%;
      background: none;
      border: none;
      font-size: 26px;
      color: var(--black-yellow-change);
      cursor: pointer;
  }
  
.mailbutton {
    width: 100px;
    height: 50px;
    border: none;
    color: #f0e442;
    background-color: black;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

.mailbutton2 {
    width: 150px;
    height: 30px;
    border: none;
    color: black;
    background-color: #f0e442;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
}

.mailtext {
    font-size: 15px;
}

  .mapTitle {
    color: var(--black-yellow-change);
      font-weight: bold;
  }

.search_box {
    position: absolute;
    margin-top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--black-yellow-change);
    height: 60px;
    border-radius: 40px;
    padding: 10px;
}

.search_box:hover > .search_txt {
    width: 700px;
    padding: 0 6px;
}

.search_txt {
    text-align: center;
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: var(--yellow-black-change);
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 400px;
}

.search_txt::placeholder {
    color: var(--yellow-black-change);
}

.search_btn {
    position: inherit;
    right: 10px;
    bottom: 8px;
    color: var(--black-yellow-change);
    float: right;
    width: 43px;
    height: 43px;
    border: var(--black-yellow-change) 2px;
    border-radius: 50%;
    background: var(--bg-color-change);
    display: flex;
    justify-content: center;
    align-items: center;
}

input[id="menuicon"] {
    display: none;
}

input[id="menuicon"] + label {
    display: block;
    width: 40px;
    height: 30px;
    position: fixed;
    left: 0;
    top: calc(50% - 25px);
    transition: all .35s;
    cursor: pointer;
}

input[id="menuicon"] + label span {
    display: block;
    position: absolute;
    width: 80%;
    height: 5px;
    border-radius: 30px;
    background: var(--black-yellow-change);
    transition: all .35s;
}

input[id="menuicon"] + label span:nth-child(1) {
    top: 0%;
}

input[id="menuicon"] + label span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

input[id="menuicon"] + label span:nth-child(3) {
    bottom: 0;
}

input[id="menuicon"]:checked + label span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

input[id="menuicon"]:checked + label span:nth-child(2) {
    opacity: 0;
}

input[id="menuicon"]:checked + label span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}

input[id="menuicon"]:checked + label + div {
    left: 0;
}

input[id="menuicon"]:checked + label {
    z-index: 2;
    left: 300px;
}

.todolist{
    width: 300px;
    height: 50%;
    background: var(--black-yellow-change);
    position: fixed;
    top: 40%;
    left: -300px;
    z-index: 1;
    transition: all .35s;
}

.todotemplate {
    z-index: 1;
    width: 95%;
    height: 95%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.todoHead {
    border-bottom: 1px solid var(--yellow-black-change);
    margin: 10px;
    text-align: center;
    color: var(--yellow-black-change);
}

.todoDay {
    font-size: 12px;
    text-align: left;
}

.todoTitle {
    font-size: 20px;
    font-weight: bold;
    color: var(--yellow-black-change);
}

form {
    display: flex;
}

.inputTodoItem {
    caret-color: var(--yellow-black-change);
    border-radius: 24px;
    border: none;
    margin-left: 20px;
    width: 70%;
    height: 25px;
}

.todoContents {
    flex: 1;
    overflow: auto;
}

.todoContents::-webkit-scrollbar {
    width: 5px;
}

.todoContents::-webkit-scrollbar-thumb {
    background: var(--yellow-black-change);
}

.todoItemList ul {
    margin: 0;
    padding: 0;
}

.todoItemList ul li {
    cursor: pointer;
    position: relative;
    list-style: none;
    color: var(--yellow-black-change);
    transition: 0.3s;
    margin-left: 20px;
    font-size: 18px;
    margin-top: 10px;
}

.todoItemList ul li:hover {
    background: var(--yellow-black-change);
    color: var(--black-yellow-change);
}

.todoItemList ul li.checked {
    text-decoration: line-through;
}

.todoInputBtn {
    background: var(--yellow-black-change);
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-left: 15px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: var(--black-yellow-change);
    border-radius: 40px;
    border: none;
    outline: none;
}

.close {
    position: absolute;
    right: 20px;
    top: 3px;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

section {
    padding-bottom: 100px;
    height: 500px;
}

.newsContents,
.weatherContents,
.shoppingContents,
.YouTubeContents {
    display: none;
}

.weatherContents {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 150px;
    width: 50%;
    height: 100%;
}

.contents_box {
    margin: 0 auto;
    margin-top: 150px;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.tempdiv {
    position: relative;
}

.swiper-container {
    width: 50%;
    margin: 0 auto;
    position: static;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: var(--bg-color-change);
    box-shadow: 0px 2px 10px 0px #848484;
    opacity: 0;
}

.swiper-slide-prev,
.swiper-slide-active,
.swiper-slide-next {
    opacity: 1;
}

[class^=slide] {
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border: none;
}

.tempdiv .swiper-button-prev,
.tempdiv .swiper-button-next {
    z-index: 0;
}

#wrap {
    min-height: 100vh;
    position: relative;
    width: 100%;
}

/* 카드뉴스 부분 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*css 초기화*/
.card {
    height: 300px;
    width: 100%;
    border-radius: 15px;
    display: inline-block;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}

.card-header1,
.card-header2,
.card-header3,
.card-header4,
.shopping-card-header1,
.shopping-card-header2,
.shopping-card-header3,
.shopping-card-header4,
.youtube-card-header1,
.youtube-card-header2,
.youtube-card-header3,
.youtube-card-header4,
.youtube-card-header5 {
    -webkit-transition: 0.5s; /*사파리 & 크롬*/
    -moz-transition: 0.5s; /*파이어폭스*/
    -ms-transition: 0.5s; /*인터넷 익스플로러*/
    -o-transition: 0.5s; /*오페라*/
    transition: 0.5s;
    width: 100%;
    height: 100px;
    border-radius: 15px 15px 0 0;
    background-size: 100% 100px;
    background-repeat: no-repeat;
}

.card-header1 {
    background-image: url("https://img.seoul.co.kr/img/upload/2021/11/24/SSI_20211124110329_O2.jpg");
}

.card-header2 {
    background-image: url("https://img.etoday.co.kr/pto_db/2021/11/600/20211124133709_1690055_1200_900.jpg");
}

.card-header3 {
    background-image: url("https://dimg.donga.com/wps/NEWS/IMAGE/2021/11/25/110464628.1.jpg");
}

.card-header4 {
    background-image: url("https://img.seoul.co.kr/img/upload/2021/11/24/SSI_20211124162201_O2.jpg");
}

.shopping-card-header1{
    background-image: url("https://thumbnail10.coupangcdn.com/thumbnails/remote/230x230ex/image/vendor_inventory/aac9/a866638408552dd3c0569b1ebbd9b44c394d4c62a46bd3859cdc4af533de.jpg")
}

.shopping-card-header2{
    background-image: url("https://thumbnail6.coupangcdn.com/thumbnails/remote/230x230ex/image/vendor_inventory/03b7/3a96336452baaf291a4f331c9709ae264c648b45661282c0a1443c69524b.jpg")
}

.shopping-card-header3{
    background-image: url("https://thumbnail10.coupangcdn.com/thumbnails/remote/230x230ex/image/vendor_inventory/0d59/406adf72325954243aba439a39d1be96d119560a07453f01926bf4ea1e72.jpg")
}

.shopping-card-header4{
    background-image: url("https://thumbnail6.coupangcdn.com/thumbnails/remote/230x230ex/image/vendor_inventory/699c/094cac2fe9ccbba8fd02b7537e59c5af1d4c88aac66c1842e68ec3304577.jpg")
}

.youtube-card-header1{
    background-image: url("https://img.youtube.com/vi/bxU-7CsiZXE/0.jpg")
}

.youtube-card-header2{
    background-image: url("https://img.youtube.com/vi/kdWEpUD_xe8/0.jpg")
}

.youtube-card-header3{
    background-image: url("https://img.youtube.com/vi/mITxGdJ_SI8/0.jpg")
}

.youtube-card-header4{
    background-image: url("https://img.youtube.com/vi/W4JYfUcDCMU/0.jpg")
}

.youtube-card-header5{
    background-image: url("https://img.youtube.com/vi/QAot3EZtTkw/0.jpg")
}

.card:hover .card-header1,
.card:hover .card-header2,
.card:hover .card-header3,
.card:hover .card-header4,
.card.card:hover .shopping-card-header1,
.card.card:hover .shopping-card-header2,
.card.card:hover .shopping-card-header3,
.card.card:hover .shopping-card-header4,
.card.card:hover .youtube-card-header1,
.card.card:hover .youtube-card-header2,
.card.card:hover .youtube-card-header3,
.card.card:hover .youtube-card-header4,
.card.card:hover .youtube-card-header5
 {
    opacity: 0.8;
    height: 0px;
}


h1 {
    font-size: 22px;
    font-weight: bold;
    color: var(--black-yellow-change);
}


.card-body-header {
    line-height: 25px;
    margin: 10px 20px 0px 20px;
}

.card-body-hashtag {
    color: var(--black-yellow-change);
    font-size: 15px;
}

.card-body-description {
    opacity: 0;
    color: var(--black-yellow-change);
    line-height: 25px;
    -webkit-transition: .2s ease-in-out; /*사파리&크롬*/
    -moz-transition: .2s ease-in-out; /*파이어폭스*/
    -ms-transition: .2s ease-in-out; /*익스플로러*/
    -o-transition: .2s ease-in-out; /*오페라*/
    transition: .2s ease-in-out;
    overflow: hidden;
    height: 180px;
    margin: 5px 20px;
}

.card:hover .card-body-description::-webkit-scrollbar {
    width: 5px;
}

.card:hover .card-body-description::-webkit-scrollbar-thumb {
    background: var(--black-yellow-change);
}

.card:hover .card-body-description {
    opacity: 1;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    overflow: scroll;
}

.card-body-footer {
    display: flex;
    position: absolute;
    margin-top: 15px;
    margin-bottom: 6px;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    color: var(--black-yellow-change);
    padding: 0 15px;
}

.comments_count {
    margin-left: 1px;
    width: 5px;
    height: 10px;
}

.reg_date {
    float: right;
    position: absolute;
    right: 15px;
}

/* footer 부분 */
footer {
    width: 100%;
    height: 100px;
    bottom: 0px;
    position: absolute;
    /* margin-top: 300px; */
    text-align: center;
    font-size: 5px;
    color: var(--black-yellow-change);
}

footer nav a {
    color: var(--black-yellow-change);
}

@media screen and (max-width: 768px) {
    /* 반응형 웹 navbar 부분 */
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar_menu li {
        width: 80%;
        text-align: center;
    }

    .navbar_icons {
        display: none;
        justify-content: center;
        width: 100%;
    }

    .navbar_icons li {
        margin-right: 0;
    }

    .navbar_toggleBtn {
        display: block;
    }

    .navbar.active {
        height: auto;
        justify-content: space-between;
    }

    .search_txt {
        width: 300px;
    }

    .search_box:hover > .search_txt {
        width: 300px;
    }

    .navbar_menu.active,
    .navbar_icons.active {
        display: flex;
    }

     /* 반응형 웹 검색창 부분 */
     .search_box.active {
         display: none;
     }

     /* 투두리스트 */

     /* 카드뉴스 */
     .contents_box {
         width: 80%;
     }

     .cardnews_title,
     .card-body-description {
         font-size: 15px;
     }

     .card-body-hashtag {
         display: none;
     }
}



