/* 
    [ 회원가입 페이지 - 연령대 질문 ]

    작성자 : 김정민
*/

@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

body {
    margin: 0;
    font-family: 'NanumSquare', sans-serif;
}

a {
    text-decoration: none;
}

.logo {
    width: 100%;
    height: 40%;  
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
}

.logo_btn {
    text-align: center;
    box-sizing: border-box;
    font-size: 50px;
    font-weight: bold;
    color: #9b4747;
}

.SignIn_section {
    background-color: white;
    border: 5px solid #9b4747;
    width: 50%;
    padding: 40px;
    margin: 0 auto;  
    justify-content: center;
    text-align: center;
}

.Text {
    font-size: 30px;
    margin-top: 0;
    color: #9b4747;
    font-weight: bold;
}

.ID,
.Password {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 40%;
    height: 40px;
    border: none;
    border-bottom: 2px solid #757B82;
    transition: 0.3s;
}

.ID:focus,
.Password:focus {
    outline: none;
    width: 50%;
    border-bottom: 4px solid #9b4747;
}

.buttons {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}

[class^=btn] {
    font-size: 20px;
    float: none;
    margin: 0 auto;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f6e8db;
    border: none;
    border-radius: 12px;
    transition: 0.25s;
}

[class^=btn]:hover {
    border: 4px solid #9b4747;
}

[class^=btn]:active {
    color: #f6e8db;
    background-color: #9b4747;
}

.SignUpTxt {
    margin-top: 70px;
    text-align: center;
}

.goSignUp {
    font-size: 15px;
}
