/* 
    [ 회원가입 페이지 - 연령대 질문 ]

    작성자 : 김정민
*/

@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

body {
    margin: 0;
    font-family: 'NanumSquare', sans-serif;
}

a {
    text-decoration: none;
}

.logo {
    width: 100%;
    height: 40%;  
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
}

.logo_btn {
    text-align: center;
    box-sizing: border-box;
    font-size: 50px;
    font-weight: bold;
    color: #9b4747;
}

.question_section {
    background-color: white;
    border: 5px solid #9b4747;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.q_text {
    font-size: 25px;
    padding-top: 30px;
    padding-bottom: 20px;
    box-sizing: border-box;
    font-weight: bold;
    color: #404040;
}

.buttons {
    padding-bottom: 30px;
    text-align: center;
}

[class^=btn] {
    font-size: 20px;
    float: none;
    margin: 20px auto;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f6e8db;
    border: none;
    border-radius: 12px;
    transition: 0.25s;
}

[class^=btn]:hover {
    border: 4px solid #9b4747;
}

[class^=btn]:active {
    color: #f6e8db;
    background-color: #9b4747;
}
